body {
  padding-left: 30px;
  font-family: "Helvetica";
  color: #474E63;
  font-size: 24px;
}

div#main {
  padding: 30px;
}

div#main > div {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}

button {
  background-color: #7CD12A;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  min-height: 45px;
  min-width: 45px;
  margin: 5px;
}

img {
  width: 200px;
}

.arrow {
  font-size: 64px;
}

.dream {
  height: 200px;
  border: 4px solid #50A5C0;
  border-radius: 4px;
}
